/**
 * This CSS uses styles for the edit form and for the viewing of the field.
 */

.embed-form-field-element-wrapper .form-item,
.embed-form-field-element-wrapper .form-wrapper,
.embed-form-field-element-wrapper input,
.embed-form-field-element-wrapper select,
.embed-form-field-element-wrapper textarea {
  display: inline-block;
}

.field-type-embed-form-field .field {
  display: inline-block;
  color: #4264FC;
}
